<!doctype html>
<html ng-app="cruiseApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="$request.contextPath/resources/css/bootstrap.css" rel="stylesheet">
    <link href="$request.contextPath/resources/css/bootstrap-theme.css" rel="stylesheet">
    <link href="$request.contextPath/resources/css/bootstrap-table.min.css" rel="stylesheet">
    <link href="$request.contextPath/resources/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="$request.contextPath/resources/css/bootstrap-tagsinput.css" rel="stylesheet">
    <link href="$request.contextPath/resources/css/bootstrap-switch.min.css" rel="stylesheet">
    <link href="$request.contextPath/resources/css/index.css" rel="stylesheet">

    <script src="$request.contextPath/resources/js/jquery.min.js"></script>
    <script src="$request.contextPath/resources/js/angular-1.2.10.js"></script>
    <script src="$request.contextPath/resources/js/bootstrap.min.js"></script>
    <script src="$request.contextPath/resources/js/ui-bootstrap-tpls-0.11.0.js"></script>
    <script src="$request.contextPath/resources/js/bootstrap-table.min.js"></script>
    <script src="$request.contextPath/resources/js/bootbox.min.js"></script>
    <script src="$request.contextPath/resources/js/moment.min.js"></script>
    <script src="$request.contextPath/resources/js/bootstrap-datetimepicker.min.js"></script>
    <script src="$request.contextPath/resources/js/bootstrap-tagsinput.js"></script>
    <script src="$request.contextPath/resources/js/bootstrap-switch.js"></script>
    <script src="$request.contextPath/resources/js/index.js"></script>

</head>
<body>
<div id="wrap">
    <div class="containerm" >
        <div class="row" ng-controller="UserGroupCtrl">

            <div class="col-sm-12">
                <script src="$request.contextPath/resources/js/luckyDrawMobile.js"></script>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="box-tools pull-left">
                    <span class="badge" style="background-color: #ebcccc;margin-right: 10px;">
                        <a class="remove ml10" href="luckydraw.html" title="Remove">
                            <i class="glyphicon glyphicon-arrow-left"></i>
                        </a>
                    </span>
                        </div>
                        <h3 class="panel-title">Lucky Users</h3>
                    </div>
                    <div class="panel-body">
                        <table id="userGroupTable" data-height="550" data-side-pagination="server" data-pagination="true"
                               data-page-list="[5, 10, 20, 50, 100, 200]" data-query-params="queryParams" data-row-style="rowStyle">
                            <thead>
                            <tr>
                                <th data-field="id" data-align="center" data-sortable="false">Id</th>
                                <th data-field="userName" data-align="center" data-sortable="false">Name</th>
                                <th data-field="email" data-align="center" data-sortable="false">Email</th>
                                <th data-field="mobile" data-align="center" data-sortable="false">Mobile</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>

                <script type="text/javascript">
                    $(function () {
                        setTimeout(function(){$('#userGroupTable').bootstrapTable({
                            url: '$request.contextPath/luckyDrawUser.json?luckyId=${luckyId}'
                        })}, 100);
                    });
                </script>
            </div>
        </div>

    </div>
</div>

</body>
</html>
